week2_fastq/HC/1C_1.fastq.gz
week2_fastq/HC/1C_2.fastq.gz
week2_fastq/HC/1C_HC.bam
week2_fastq/HC/1C_HC.sam
week2_fastq/HC/1F_1.fastq.gz
week2_fastq/HC/1F_2.fastq.gz
week2_fastq/HC/1F_HC.bam
week2_fastq/HC/1F_HC.sam
week2_fastq/HC/log/bwa_HC312.err
week2_fastq/HC/log/bwa_HC312.out
week2_fastq/HC/log/sam2bam_HC376.err
week2_fastq/HC/log/sam2bam_HC376.out
week2_fastq/amp/1C_1.fastq.gz
week2_fastq/amp/1C_2.fastq.gz
week2_fastq/amp/1C_amp.bam
week2_fastq/amp/1C_amp.sam
week2_fastq/amp/1F_1.fastq.gz
week2_fastq/amp/1F_2.fastq.gz
week2_fastq/amp/1F_amp.bam
week2_fastq/amp/1F_amp.sam
week2_fastq/amp/log/bwa_HC214.err
week2_fastq/amp/log/bwa_HC214.out
week2_fastq/amp/log/sam2bam_HC302.err
week2_fastq/amp/log/sam2bam_HC302.out
week2_fastq/amp/log/sam2bam_HC313.err
week2_fastq/amp/log/sam2bam_HC313.out
week5_somatic_variant/runnig_scripts.txt
week3_preprocessing/bwa_mem_pair.py
week3_preprocessing/metrics
week3_preprocessing/1C_HC/1C_HC.bam
week3_preprocessing/1C_HC/1C_HC.recal_data.grp
week3_preprocessing/1C_HC/1C_HC.sorted.bai
week3_preprocessing/1C_HC/1C_HC.sorted.bam
week3_preprocessing/1C_HC/1C_HC.sorted.RGadded.bai
week3_preprocessing/1C_HC/1C_HC.sorted.RGadded.bam
week3_preprocessing/1C_HC/1C_HC.sorted.RGadded.marked.bai
week3_preprocessing/1C_HC/1C_HC.sorted.RGadded.marked.bam
week3_preprocessing/1C_HC/1C_HC.sorted.RGadded.marked.bam.list
week3_preprocessing/1C_HC/1C_HC.sorted.RGadded.marked.realigend.fixed.recal.bai
week3_preprocessing/1C_HC/1C_HC.sorted.RGadded.marked.realigend.fixed.recal.bam
week3_preprocessing/1C_HC/1C_HC.sorted.RGadded.marked.realigned.bai
week3_preprocessing/1C_HC/1C_HC.sorted.RGadded.marked.realigned.bam
week3_preprocessing/1C_HC/1C_HC.sorted.RGadded.marked.realigned.fixed.bai
week3_preprocessing/1C_HC/1C_HC.sorted.RGadded.marked.realigned.fixed.bam
week3_preprocessing/1C_amp/1C_amp.bam
week3_preprocessing/1C_amp/1C_amp.sorted.bai
week3_preprocessing/1C_amp/1C_amp.sorted.bam
week3_preprocessing/1C_amp/1C_amp.sorted.RGadded.bai
week3_preprocessing/1C_amp/1C_amp.sorted.RGadded.bam
week3_preprocessing/1C_amp/1C_amp.sorted.RGadded.bam.list
week3_preprocessing/1C_amp/1C_amp.sorted.RGadded.realigend.fixed.recal.bai
week3_preprocessing/1C_amp/1C_amp.sorted.RGadded.realigend.fixed.recal.bam
week3_preprocessing/1C_amp/1C_amp.sorted.RGadded.realigned.bai
week3_preprocessing/1C_amp/1C_amp.sorted.RGadded.realigned.bam
week3_preprocessing/1C_amp/1C_amp.sorted.RGadded.realigned.fixed.bai
week3_preprocessing/1C_amp/1C_amp.sorted.RGadded.realigned.fixed.bam
week3_preprocessing/1C_amp/1C_amp.sorted.RGadded.realigned.fixed.bam.recal_data.grp
week3_preprocessing/1F_HC/1F_HC.bam
week3_preprocessing/1F_HC/1F_HC.recal_data.grp
week3_preprocessing/1F_HC/1F_HC.sorted.bai
week3_preprocessing/1F_HC/1F_HC.sorted.bam
week3_preprocessing/1F_HC/1F_HC.sorted.RGadded.bai
week3_preprocessing/1F_HC/1F_HC.sorted.RGadded.bam
week3_preprocessing/1F_HC/1F_HC.sorted.RGadded.marked.bai
week3_preprocessing/1F_HC/1F_HC.sorted.RGadded.marked.bam
week3_preprocessing/1F_HC/1F_HC.sorted.RGadded.marked.bam.list
week3_preprocessing/1F_HC/1F_HC.sorted.RGadded.marked.realigend.fixed.recal.bai
week3_preprocessing/1F_HC/1F_HC.sorted.RGadded.marked.realigend.fixed.recal.bam
week3_preprocessing/1F_HC/1F_HC.sorted.RGadded.marked.realigned.bai
week3_preprocessing/1F_HC/1F_HC.sorted.RGadded.marked.realigned.bam
week3_preprocessing/1F_HC/1F_HC.sorted.RGadded.marked.realigned.fixed.bai
week3_preprocessing/1F_HC/1F_HC.sorted.RGadded.marked.realigned.fixed.bam
week3_preprocessing/1F_amp/1F_amp.bam
week3_preprocessing/1F_amp/1F_amp.sorted.bai
week3_preprocessing/1F_amp/1F_amp.sorted.bam
week3_preprocessing/1F_amp/1F_amp.sorted.RGadded.bai
week3_preprocessing/1F_amp/1F_amp.sorted.RGadded.bam
week3_preprocessing/1F_amp/1F_amp.sorted.RGadded.bam.list
week3_preprocessing/1F_amp/1F_amp.sorted.RGadded.realigend.fixed.recal.bai
week3_preprocessing/1F_amp/1F_amp.sorted.RGadded.realigend.fixed.recal.bam
week3_preprocessing/1F_amp/1F_amp.sorted.RGadded.realigned.bai
week3_preprocessing/1F_amp/1F_amp.sorted.RGadded.realigned.bam
week3_preprocessing/1F_amp/1F_amp.sorted.RGadded.realigned.fixed.bai
week3_preprocessing/1F_amp/1F_amp.sorted.RGadded.realigned.fixed.bam
week3_preprocessing/1F_amp/1F_amp.sorted.RGadded.realigned.fixed.bam.recal_data.grp
week3_preprocessing/example/1F_HC.sorted.bai
week3_preprocessing/example/1F_HC.sorted.bam
week3_preprocessing/example/1F_HC.sorted.RGadded.bai
week3_preprocessing/example/1F_HC.sorted.RGadded.bam
week3_preprocessing/example/1F_HC.sorted.RGadded.marked.bai
week3_preprocessing/example/1F_HC.sorted.RGadded.marked.bam
week3_preprocessing/example/1F_HC.sorted.RGadded.marked.bam.list
week3_preprocessing/example/1F_HC.sorted.RGadded.marked.realigned.bai
week3_preprocessing/example/1F_HC.sorted.RGadded.marked.realigned.bam
week3_preprocessing/example/1F_HC.sorted.RGadded.marked.realigned.fixed.bai
week3_preprocessing/example/1F_HC.sorted.RGadded.marked.realigned.fixed.bam
week3_preprocessing/example/1F_HC.sorted.RGadded.marked.realigned.fixed.bam.recal_data.grp
week3_preprocessing/example/1F_HC.sorted.RGadded.marked.realigned.fixed.recal.bai
week3_preprocessing/example/1F_HC.sorted.RGadded.marked.realigned.fixed.recal.bam
week3_preprocessing/example/log/addRG_317.err
week3_preprocessing/example/log/addRG_317.out
week3_preprocessing/example/log/localRealign_320.err
week3_preprocessing/example/log/localRealign_320.out
week3_preprocessing/example/log/localRealign_322.err
week3_preprocessing/example/log/localRealign_322.out
week3_preprocessing/example/log/markDup_318.err
week3_preprocessing/example/log/markDup_318.out
week3_preprocessing/example/log/markDup_319.err
week3_preprocessing/example/log/markDup_319.out
week3_preprocessing/example/log/mateFix_321.err
week3_preprocessing/example/log/mateFix_321.out
week3_preprocessing/example/log/sortSam_316.errs
week3_preprocessing/example/log/sortSam_316.out
week3_preprocessing/log/amp_GATK_464.err
week3_preprocessing/log/amp_GATK_464.out
week3_preprocessing/log/amp_GATK_465.err
week3_preprocessing/log/amp_GATK_465.out
week3_preprocessing/log/pipe_GATK_377.err
week3_preprocessing/log/pipe_GATK_377.out
week3_preprocessing/log/pipe_GATK_378.err
week3_preprocessing/log/pipe_GATK_378.out
week3_preprocessing/log/pipe_GATK_379.err
week3_preprocessing/log/pipe_GATK_379.out
week3_preprocessing/log/pipe_GATK_380.err
week3_preprocessing/log/pipe_GATK_380.out
week3_preprocessing/test/metrics
week3_preprocessing/test/test.bam
week3_preprocessing/test/test.bam.sorted.bai
week3_preprocessing/test/test.bam.sorted.bam
week3_preprocessing/test/test.bam.sorted.RGadded.bai
week3_preprocessing/test/test.bam.sorted.RGadded.bam
week3_preprocessing/test/test.bam.sorted.RGadded.marked.bai
week3_preprocessing/test/test.bam.sorted.RGadded.marked.bam
week3_preprocessing/test/test.bam.sorted.RGadded.marked.bam.list
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigend.fixed.recal.bai
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigend.fixed.recal.bam
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigned.bai
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigned.bam
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigned.fixed.bai
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigned.fixed.bam
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigned.fixed.bam.recal_data.grp
week3_preprocessing/test/log/pipe_preprocess_343.err
week3_preprocessing/test/log/pipe_preprocess_344.err
week3_preprocessing/test/log/pipe_proprecess_343.out
week3_preprocessing/test/log/pipe_proprecess_344.out
