week4_germline_variant/merged_db
week4_germline_variant/log
week4_germline_variant/bam/1C_amp.sorted.RGadded.realigend.fixed.recal.bai
week4_germline_variant/bam/1C_amp.sorted.RGadded.realigend.fixed.recal.bam
week4_germline_variant/bam/1C_HC.sorted.RGadded.marked.realigend.fixed.recal.bai
week4_germline_variant/bam/1C_HC.sorted.RGadded.marked.realigend.fixed.recal.bam
week4_germline_variant/bam/1F_amp.sorted.RGadded.realigend.fixed.recal.bai
week4_germline_variant/bam/1F_amp.sorted.RGadded.realigend.fixed.recal.bam
week4_germline_variant/bam/1F_HC.sorted.RGadded.marked.realigend.fixed.recal.bai
week4_germline_variant/bam/1F_HC.sorted.RGadded.marked.realigend.fixed.recal.bam
week3_preprocessing/1C_amp
week3_preprocessing/1C_HC
week3_preprocessing/1F_amp
week3_preprocessing/1F_HC
week3_preprocessing/log
week3_preprocessing/example
week2_fastq/amp
week2_fastq/HC
FCD_project/bam/Targeted_C_Disease.mpileup
FCD_project/bam/Targeted_C_Disease.sorted.RGadded.marked.realigned.fixed.recal.bai
FCD_project/bam/Targeted_C_Disease.sorted.RGadded.marked.realigned.fixed.recal.bam
FCD_project/bam/Targeted_C_Normal.mpileup
FCD_project/bam/Targeted_C_Normal.sorted.RGadded.marked.realigned.fixed.recal.bai
FCD_project/bam/Targeted_C_Normal.sorted.RGadded.marked.realigned.fixed.recal.bam
FCD_project/bam/WES_A_Disease.mpileup
FCD_project/bam/WES_A_Disease.sorted.RGadded.marked.realigned.fixed.recal.bai
FCD_project/bam/WES_A_Disease.sorted.RGadded.marked.realigned.fixed.recal.bam
FCD_project/bam/WES_A_Normal.mpileup
FCD_project/bam/WES_A_Normal.sorted.RGadded.marked.realigned.fixed.recal.bai
FCD_project/bam/WES_A_Normal.sorted.RGadded.marked.realigned.fixed.recal.bam
FCD_project/bam/WES_B_Disease.mpileup
FCD_project/bam/WES_B_Disease.sorted.RGadded.marked.realigned.fixed.recal.bai
FCD_project/bam/WES_B_Disease.sorted.RGadded.marked.realigned.fixed.recal.bam
FCD_project/bam/WES_B_Normal.mpileup
FCD_project/bam/WES_B_Normal.sorted.RGadded.marked.realigned.fixed.recal.bai
FCD_project/bam/WES_B_Normal.sorted.RGadded.marked.realigned.fixed.recal.bam
FCD_project/log
FCD_project/WES_B_varscan2/log
FCD_project/WES_B_strelka/workspace
FCD_project/WES_B_RePlow/errorProfile
FCD_project/WES_B_mutect2/db_WES_B
FCD_project/WES_B_mutect2/log
FCD_project/WES_A_varscan2/log
FCD_project/WES_A_strelka/workspace
FCD_project/WES_A_RePlow/errorProfile
FCD_project/WES_A_mutect2/log
FCD_project/WES_A_mutect2/db_WES_A
FCD_project/Targeted_C_varscan2/log
FCD_project/Targeted_C_strelka/workspace
FCD_project/Targeted_C_RePlow/errorProfile
FCD_project/Targeted_C_mutect2/pon_db
FCD_project/Targeted_C_mutect2/log
FCD_project/passed_vcf_analysis/log
week6_PoN/pon_db
week3_preprocessing/test/metrics
week3_preprocessing/test/test.bam
week3_preprocessing/test/test.bam.sorted.bai
week3_preprocessing/test/test.bam.sorted.bam
week3_preprocessing/test/test.bam.sorted.RGadded.bai
week3_preprocessing/test/test.bam.sorted.RGadded.bam
week3_preprocessing/test/test.bam.sorted.RGadded.marked.bai
week3_preprocessing/test/test.bam.sorted.RGadded.marked.bam
week3_preprocessing/test/test.bam.sorted.RGadded.marked.bam.list
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigend.fixed.recal.bai
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigend.fixed.recal.bam
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigned.bai
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigned.bam
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigned.fixed.bai
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigned.fixed.bam
week3_preprocessing/test/test.bam.sorted.RGadded.marked.realigned.fixed.bam.recal_data.grp
week3_preprocessing/test/log/pipe_preprocess_343.err
week3_preprocessing/test/log/pipe_preprocess_344.err
week3_preprocessing/test/log/pipe_proprecess_343.out
week3_preprocessing/test/log/pipe_proprecess_344.out
week5_somatic_variant/prj_amp/log/tmp
FCD_project/WES_A_germline/merged_db
FCD_projcet/WES_B_germline/merged_db